
body {
  background: linear-gradient(to right, #ff758c, #ff7eb3);
  font-family: Arial;
  text-align: center;
  color: white;
  margin-top: 150px;
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 20px;
  background: white;
  color: #ff4f7a;
  font-size: 16px;
  cursor: pointer;
}
