body {
  margin: 0;
  background: linear-gradient(45deg,#ff9a9e,#fad0c4);
  font-family: Arial;
  text-align: center;
  overflow: hidden;
  color: white;
}

.container {
  margin-top: 60px;
  position: relative;
  z-index: 2;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

.cake {
  width: 180px;
  margin: 20px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  50% {transform: translateY(-15px);}
}

/* Botones */

button {
  padding: 12px 25px;
  margin: 10px;
  border: none;
  border-radius: 25px;
  background: white;
  color: #ff4081;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
  background: #ff4081;
  color: white;
}

/* Tarjetas */

.card {
  background: rgba(255,255,255,0.9);
  color: #ff4081;
  margin: 15px auto;
  padding: 15px;
  width: 80%;
  border-radius: 15px;
  animation: aparecer 1s;
}

@keyframes aparecer {
  from {opacity:0; transform:scale(0.5);}
  to {opacity:1;}
}

/* Globos */

.balloon {
  width: 50px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  bottom: -100px;
  animation: subir 12s infinite;
  opacity: 0.8;
}

.b1 {background:red; left:10%;}
.b2 {background:blue; left:30%;}
.b3 {background:yellow; left:60%;}
.b4 {background:pink; left:80%;}

@keyframes subir {
  0% {bottom:-100px;}
  100% {bottom:110%;}
  }
