body {
margin:0;
font-family: Arial;
background: radial-gradient(#ffb6c1,#ff69b4);
overflow:hidden;
}

.center {
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
color:white;
}

.hidden {
display:none;
}

h1 {
font-size:38px;
text-shadow:2px 2px 10px pink;
}

#startBtn {
padding:18px 45px;
font-size:22px;
border:none;
border-radius:40px;
background:white;
color:#ff1493;
cursor:pointer;
animation:pulse 2s infinite;
}

@keyframes pulse {
0%{transform:scale(1);}
50%{transform:scale(1.1);}
100%{transform:scale(1);}
}

button {
margin:15px;
padding:12px 25px;
border:none;
border-radius:25px;
background:white;
color:#ff1493;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

button:hover {
transform:scale(1.1);
background:#ff1493;
color:white;
}

.cake {
font-size:30px;
margin:15px;
animation:bounce 2s infinite;
}

@keyframes bounce {
50%{transform:translateY(-10px);}
}

/* Cartas */

.cartas {
display:flex;
gap:15px;
flex-wrap:wrap;
justify-content:center;
margin-top:20px;
}

.carta {
width:120px;
height:90px;
background:white;
color:#ff1493;
border-radius:15px;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
cursor:pointer;
box-shadow:0 5px 10px rgba(0,0,0,0.3);
transition:0.3s;
}

.carta:hover {
transform:scale(1.1) rotate(3deg);
}

/* Mensaje */

.mensaje {
background:white;
color:#ff1493;
padding:20px;
margin-top:20px;
width:80%;
max-width:500px;
border-radius:20px;
animation:aparecer 1s;
}

@keyframes aparecer {
from{opacity:0;transform:scale(0.5);}
to{opacity:1;}
}

/* Globos */

.balon {
width:40px;
height:55px;
border-radius:50%;
position:absolute;
bottom:-60px;
animation:subir 10s linear infinite;
opacity:0.8;
}

@keyframes subir {
0%{bottom:-60px;}
100%{bottom:110%;}
}
